* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
}

body {
    position: flex;
    margin: 0;
    overflow-x: hidden;
}

canvas {
    display: block;
    margin: auto;
    width: 50%;
    /* border: 3px solid green; */
    padding: 10px;
}

img {
    max-width: 50%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: white;
}

#defaultCanvas0 {
    display: none;
}

.City {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 100px;
}

.Temp {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 50px;
    margin-top: 45px;
}

.Pressure,
.Humidity,
.Visibility {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
}

.Temp_min,
.Temp_max {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
}

.footer {
    position: absolute;
    bottom: -100px;
    /* aslinya 0 aku coba ngeluasin kanvas */
    width: 100%;
    padding: 20px;
}

.footer_group {
    border-top: 1px solid #ddd;
}

.btn_next {
    margin-bottom: 10px;
}
